:root {
  /* constants can go here */
  --midnight-blue: rgb(5, 0, 71);
}

html {
  font-size: 16px;
}

body {
  background-color: var(--midnight-blue);
  color: white;
  font-family: 'Cousine', monospace;
  margin: 0px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0px;
}

.centered {
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.roomWrapper {
  padding: 1rem;
}

.roomHeader {
  margin: 0rem 0rem 1rem 0rem;
}

.teamListWrapper {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0.8rem;
}

.teamListHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.teamListButton {
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-left: 1.2rem;
  font-size: 1rem;
  font-weight: bold;
}

.teamListButton:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.33);
}

.button {
  border: 3px solid;
  margin-bottom: 1.5rem;
  padding: 0.8rem;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.33);
}

.text-input {
  border: 3px solid;
  margin-bottom: 1.5rem;
  padding: 0.8rem;
  font-weight: bold;
}

.error {
  color: chocolate;
  font-weight: bolder;
}
