:root {
  /* constants can go here */
  --midnight-blue: rgb(5, 0, 71);
}

html {
  font-size: 16px;
}

body {
  background-color: var(--midnight-blue);
  color: white;
  font-family: 'Cousine', monospace;
  margin: 0px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0px;
}

.centered {
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.marginBetween {
  margin: 0.75rem;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.fontLarge {
  font-size: 1.5rem;
}

.justifyCenter {
  justify-content: center;
}

.roomWrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.roomHeader {
  margin: 0rem 0rem 1rem 0rem;
}

.teamListWrapper {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0.8rem;
  margin: 0.5rem;
  text-align: left;
}

.teamListHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.teamListButton {
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-left: 1.2rem;
  font-size: 1rem;
  font-weight: bold;
}

.teamListButton:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.33);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid;
  margin: 0.5rem;
  padding: 0.8rem;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.33);
}

.active {
  background-color: rgba(255, 255, 255, 0.5);
}

.textInput {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-sizing: border-box;
  outline: none;
  font-size: 1.5rem;
  padding: 0.7rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.textInputUnderline {
  height: 2.9rem;
  box-sizing: border-box;
}

.textInputUnderline::before {
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.1s ease;
}

.textInputUnderline:hover::before {
  border-bottom: 3px solid white;
}

.textInputUnderline:focus-within::before {
  border-bottom: 3px solid white;
}

.textInputWrapper {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 1rem;
}

.error {
  color: chocolate;
  font-weight: bolder;
}

.wordBoxWrapper {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 0.5rem;
}

.wordBox {
  padding: 1rem;
  border: 2px solid white;
  border-radius: 0.5rem;
}

.wordIdx {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.guessButton {
  font-size: 0.8rem;
  height: 0.8rem;
  width: 0.8rem;
  padding: 0.3rem;
  margin: 0.2rem;
  border: 2px solid white;
  border-radius: 0.3rem;
}

.guessButton:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.33);
}

.clueLabel {
  margin-bottom: 0.8rem;
}

.clueGuessWrapper {
  border: 2px solid white;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.8rem;
}

.roomCodeDisplay {
  background-color: lightsteelblue;
  color: var(--midnight-blue);
  font-size: 2rem;
  margin: 1rem;
  padding: 0.25rem 2rem;
  width: fit-content;
}
