:root {
  /* constants can go here */
  --midnight-blue: rgb(5, 0, 71);
}

body {
  background-color: var(--midnight-blue);
  color: white;
  font-family: 'Cousine', monospace;
  margin: 0px;
}

h2 {
  margin: 0px;
}

.centered {
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.roomWrapper {
  padding: 16px;
}

.roomHeader {
  margin: 0px 0px 16px 0px;
}

.playerListWrapper {
  border: 1px solid white;
  border-radius: 5px;
  padding: 12px;
}

.button {
  border: 3px solid;
  margin-bottom: 24px;
  padding: 12px;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.33);
}

.text-input {
  border: 3px solid;
  margin-bottom: 24px;
  padding: 12px;
  font-weight: bold;
}

.error {
  color: chocolate;
  font-weight: bolder;
}